.bigCounter{
    text-align: center;
    background: black;
}
.bigCounter div{
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    background: rgb(78, 64, 64);
    color: white;
    padding: 10px;
    margin: 3px;
}